---
import BaseLayout from "src/layouts/BaseLayout.astro";
import client from "@data/client.json";
import Landing from "@components/Landing.astro";

---

<BaseLayout
  title="Support"
  description=""
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Support"
  />

  <!-- ============================================ -->
  <!--                Support             -->
  <!-- ============================================ -->

  <section id="cs-contact">
    <div class="cs-container">
      <div class="bg-blue-800 mx-auto rounded-lg">
        <iframe id='kofiframe' src='https://ko-fi.com/beyondthegravemag/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#0b192d;' class="rounded-lg" height='712' title='beyondthegravemag'></iframe>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    :root {
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
      --bodyFontSize: 1rem;

      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }

    #cs-contact {
      font-family: "Roboto", "Arial", sans-serif;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: (800/16rem);
        margin: auto;
      }
      .kfds-lyt-row-f-start, .mainBody,  {
        background-color: #0b192d !important;
         }
    }
  }


  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #cs-contact {
      .cs-container {
        max-width: (1280/16rem);
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: (80/16rem);
      }
    }
  }
</style>
